<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), urlhttps://unsplash.com/photos/Lq6rcifGjOU);">
  <div class="container">
    <h1>My <strong>Watch</strong> list!</h1>
    <a class="btn btn-pri" href="#">Apply now</a>
  </div>
</div>
