<div class="banner">
  <div class="container">
    <h1>WATCH LIST</h1>
    <%= link_to "Add List", new_list_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="container mt-5">
  <% @lists.each do |list| %>
    <h2>
      <i class="fas fa-adjust"></i>
      <%= link_to list.name, list_path(list), class: 'links' %>
    </h2>
  <% end %>
</div>
